[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
pytz = "*"
install = "*"
stream-chat = "*"
uuid = "*"
injector = "*"
uvicorn = "*"
fastapi = "*"
dacite = "*"

[dev-packages]

[requires]
python_version = "3.8"
